<a href="https://colab.research.google.com/github/lucasmp2/PA_2025./blob/main/variaveisEoperadoresaritimedicos/variaveiseconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variáveis e Constantes

In [ ]:
idade = 15
altura = 1.67
nome = "Lucas Martins"
escola = "ETEC MCM"
vai = True

In [ ]:
nomes = ["Lucas Martins", "Matheus", "Rafael"]
nomes2 = ("Lucas Martins", "Pedro", "Ana")
tudo = {nome:"Lucas Martins", idade: 15, altura: 1.67}

In [ ]:
print (nome)
print (nomes)
print (nomes2)
print (tudo)

Lucas Martins
['Lucas Martins', 'Matheus', 'Rafael']
('Lucas Martins', 'Pedro', 'Ana')
{'Lucas Martins': 'Lucas Martins', 15: 15, 1.67: 1.67}

In [ ]:
print(type(idade))
print(type(altura))
print(type(vai))
print(type(nome))
print(type(nomes))
print(type(nomes2))
print(type(tudo))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
print("O nome dele é: ", nome, ",sua idade é: ", idade, " anos, e ele tem ", altura, "metros de altura.")

O nome dele é:  Lucas Martins ,sua idade é:  15  anos, e ele tem  1.67 metros de altura.

In [ ]:
print (f"O nome dele é: {nome}, A altura dele é: {altura} metros de altura, ele estuda na : {escola} ")

O nome dele é: Lucas Martins, A altura dele é: 1.67 metros de altura, ele estuda na : ETEC MCM

#Área do Círculo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do círculo: "))

Digite o valor do raio do círculo: 7

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A área do círculo é{areacir}")

A área do círculo é153.93791

In [ ]:
lado = float(input("digite o valor aqui "))
area = lado**2

print (f"digite á área do quadrado: {area}")

digite o valor aqui 8
digite á área do quadrado: 64.0